* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
}