table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
}

.align-left {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.padding {
    padding-top: 20px;
}

.start-button-class {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
}

.question-class {
    font-size: 50px;
    margin-bottom: 20px;
}

.btn {
    font-size: 20px;
    background-color: lightblue;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.hide {
    display: none;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}